// reasignag colores
$gris:#A6A6A6;
$rojo:#DC2828;
$gris__claro:#282C34;


// colores
$secondary:$gris;
$danger:$rojo;
$border-color:#2C313A;
$card-border-color:#2C313A;


// Importar Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap.scss'