$fuente_principal :  "Plus Jakarta Sans", sans-serif;

// colores
$azulOscuro: #121417;
$gris:#A1ABB5;
$blanco: #fff;
$grisOscuro: #2B3036;


// Media Queries
$telefono: 390px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
