$fuente_principal :  "Space Grotesk", sans-serif;

// colores
$negro: #141414;
$gris: #303030;
$blanco: #fff;


// Media Queries
$telefono: 390px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
