@use "base/variables" as v;
@use "base/mixins" as m;

.navegacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  @include m.tablet {
    flex-direction: row;
    display: flex;
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }

  &__hamburguesa {
    display: block;

    @include m.tablet {
      display: none;
    }
  }

  &__enlace {
    font-size: 1.5rem;
    color: v.$negro;
    font-weight: 700;

    &:hover {
      color: v.$primary;
    }
  }

  &__dark-mode {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }

  &__hamburguesa {
    svg {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      margin-top: 1rem;
    }
  }
}

.activo {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}
