@use "base/variables" as v;
@use "base/mixins" as m;

.servicios {
  @include m.separacion;
  text-align: center;

  &__titulo {
    font-size: 4rem;
    margin: 0;
    @include m.linea(15rem);
  }

  &__parrafo {
    font-size: 1.7rem;
    color: v.$gris__Oscuro;
  }

  &__grid {
    @include m.tablet {
      @include m.grid(2, 2rem);
    }
    margin-top: 4rem;
  }
}

.servicio {
  background-color: v.$blanco;
  box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 17px -3px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: left;
  @include m.tablet {
    margin-bottom: 0;
  }

  &__margen{
    margin-bottom: 1rem;
    display: inline-block;
  }

  &__titulo,
  &__texto{
    margin: 0;
  }

  &__texto{
    line-height: 2.5;
    font-size: 1.4rem;
    color: v.$primary;
    cursor: pointer;
  }
}
