@use "base/variables" as v;
@use "base/mixins" as m;

.swiper {
  width: 100%;
  height: auto;
  @include m.tablet {
    height: 300px; 
  }
  
}

// Swiper pagination
.swiper-pagination {
  bottom: 12px !important;
  text-align: center;
}


