@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-optical-sizing: auto;
    font-style: normal;
    color: v.$negro;
    font-size: 2rem;
    background-color: v.$azulOscuro;
    overflow-x: hidden;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

// utilidades
.m-0{
    margin: 0;
}

a {
    font-size: 2rem;
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
   
}
h4{
    font-size: 2rem;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
svg{
    width: 100%;
}

#typed{
    &::after{
         content: '|';
        animation: blink 0.7s infinite;
    }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typed-cursor {
  display: none 
}

#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

#scrollTopBtn .scroll {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: v.$azulClaro;
  z-index: 2;
}

/* Progress Circle */
#scrollTopBtn svg.progress-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
  z-index: 1;
}

.track {
  fill: none;
  stroke: #ddd;
  stroke-width: 4;
}

.progress {
  fill: none;
  stroke: #3498db;
  stroke-width: 4;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.25s linear;
}

#scrollTopBtn.hide {
  opacity: 0;
  pointer-events: none;
}



