$fuente_principal :  "Poppins", sans-serif;

// Colores
$azulOscuro: #0F1624;
$morado:#935ED6;
$azulClaro:#14ACC7;
$negro: #000000;
$blanco: #FFFFFF;
$gris:#929EB0;
$rojo: red;

// Media Queries
$telefono: 390px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;